<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application>
        <activity android:name=".HomeActivity">

        </activity>

        <service android:name=".HomeService">

        </service>
    </application>

</manifest>